
<main>
  <h1>{{x.name}}</h1>
  <img class="cube" src={{x.imageUrl}}>
  <div class="details">
    <p><span>Description:</span>{{x.description}}</p>
    <p><span>Difficulty level:</span> {{x.difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>